In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import os

C:\Users\barde\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

## Load data

In [4]:
data_root = './../ml-100k'
readme = os.path.join(data_root, 'README')
#!type $readme

In [7]:
column = ['user_id', 'item_id', 'rating', 'timestamp']
datafile = os.path.join(data_root, 'u.data')
data = pd.read_csv(datafile, sep='\t', names=column)

In [8]:
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [10]:
data.values[:, :3]

array([[ 196,  242,    3],
       [ 186,  302,    3],
       [  22,  377,    1],
       ...,
       [ 276, 1090,    1],
       [  13,  225,    2],
       [  12,  203,    3]], dtype=int64)

In [11]:
data.values.shape

(100000, 4)

In [19]:
n_users = data.user_id.unique().shape[0]
n_items = data.item_id.unique().shape[0]
print('%s users\n%s items' % (n_users, n_items))

943 users
1682 items

In [22]:
print('Sparsicity value: ', data.values.shape[0] / float(n_users * n_items))

Sparsicity value:  0.06304669364224531

In [24]:
items_id_file=os.path.join(data_root, 'u.item')

In [33]:
item_dict = {}
with open(items_id_file, 'rb') as f:
    for line in f.readlines():
        record = line.split(b'|')
        item_dict[int(record[0])] = str(record[1])

In [37]:
for record in data.values[:20]:
    print('User {u} viewer {m} and gave a rating {r} rating '.format(u=record[0], m=item_dict[record[1]], r=record[2]))

User 196 viewer b'Kolya (1996)' and gave a rating 3 rating
User 186 viewer b'L.A. Confidential (1997)' and gave a rating 3 rating
User 22 viewer b'Heavyweights (1994)' and gave a rating 1 rating
User 244 viewer b'Legends of the Fall (1994)' and gave a rating 2 rating
User 166 viewer b'Jackie Brown (1997)' and gave a rating 1 rating
User 298 viewer b'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)' and gave a rating 4 rating
User 115 viewer b'Hunt for Red October, The (1990)' and gave a rating 2 rating
User 253 viewer b'Jungle Book, The (1994)' and gave a rating 5 rating
User 305 viewer b'Grease (1978)' and gave a rating 3 rating
User 6 viewer b'Remains of the Day, The (1993)' and gave a rating 3 rating
User 62 viewer b'Men in Black (1997)' and gave a rating 2 rating
User 286 viewer b"Romy and Michele's High School Reunion (1997)" and gave a rating 5 rating
User 200 viewer b'Star Trek: First Contact (1996)' and gave a rating 5 rating
User 210 viewer b'To Wong Foo, Thanks for Everything! Julie Newmar (1995)' and gave a rating 3 rating
User 224 viewer b'Batman Forever (1995)' and gave a rating 3 rating
User 303 viewer b'Only You (1994)' and gave a rating 3 rating
User 122 viewer b'Age of Innocence, The (1993)' and gave a rating 5 rating
User 194 viewer b'Sabrina (1995)' and gave a rating 2 rating
User 291 viewer b'Just Cause (1995)' and gave a rating 4 rating
User 234 viewer b'Endless Summer 2, The (1994)' and gave a rating 2 rating

In [39]:
def returnItemId(text, ids):
    text_ = text.lower()
    search = [(k, v.lower().find(text)) for k, v in list(ids.items())]
    return